description = "A link to an album list that can appear as part of a list"
==
<article class="media">
    <a href="/publication/{{ albumList.publication.slug }}">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="{{ albumList.publication.icon }}">
            </p>
        </figure>
    </a>
    <a href="/list/{{ albumList.publication.slug }}/{{ albumList.slug }}">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ albumList.name }}</strong>
                    <small>{{ albumList.updated_at|date("m/Y") }}</small>
                    <br>
                    {{ albumList.publication.name }}
                </p>
            </div>
        </div>
    </a>
</article>
