container_commands:
  01_create_mirror:
    env:
      HOME: "/home/user-ec2"
      COMPOSER_HOME: "/home/user-ec2"
    command: |
      cd october && composer.phar install && php artisan october:mirror ../www/
      ln -sf /var/app/current/october/index.php ../www/index.php
      ln -sf /var/app/current/october/.htaccess ../www/.htaccess